<div class="row">
  <div class="col-md-12">
    <div class="page-actions">
      <%= link_to 'Back to subjects', admin_subjects_path, class: 'btn btn-default' %>
      <%= link_to 'View context', admin_context_path(@subject.context), class: 'btn btn-default' %>
    </div>
    <h2>Subject <%= @subject.id %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-sm">
      <tbody>
        <tr><th>Zooniverse Subject ID</th><td><%= @subject.zooniverse_subject_id %></td></tr>
        <tr><th>Context</th><td><%= link_to @subject.context_id, admin_context_path(@subject.context) %></td></tr>
        <tr><th>Reductions</th><td><%= @subject.reductions.size %></td></tr>
        <tr><th>Updated</th><td><%= @subject.updated_at %></td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Metadata</h3>
    <div class="well">
      <pre><%= pretty_json(@subject.metadata) %></pre>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Locations</h3>
    <div class="well">
      <pre><%= pretty_json(@subject.locations) %></pre>
    </div>
  </div>
</div>
